@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  margin: 0;
  font-family: Muli;
}

#container {
  display: flex;
  height: 100vh;
}

#navigator {
  flex: 2;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 1;
  overflow:auto;
}

#close{
  display: none;
  cursor: pointer;
  padding-bottom:10px;
  padding-left:10px;
}

#bar {
  font-size: 22px;
}

#menu {
  display: flex;
}

#menu i {
  flex: 2;
}

#title {
  flex: 8;
  font-size: 2.65vmin;
  max-width: 70vw;
}

#video-content {
  display: flex;
  flex: 9;
  flex-direction: column;
  background-color: #26A69A;
}

#video-header {
  display: flex;
  flex: 1;
  font-size: 22px;
  width: 100%;
  background-color: #004346;
  color: white;
        /*box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/;
}

#video {
  flex: 9;
}

#video-fr {
  margin: 12px 8px 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 48px;
  margin-right: 0;
  padding-left: 12px;
  padding-right: 8px;
}

li {
  margin: 8px 0 16px 0;
  cursor: pointer;
}

.selected {
  color: #00897B;
  font-weight: bold;
}

::selection {
  color: white;
  background: #4DB6AC;
}

#nav_menu {
  flex: 1;
  padding: 0px 16px 20px 16px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  vertical-align: middle;
  line-height: 60px;
  font-size:4.0vmin;
}

#video-title {
  flex: 10;
  text-align: center;
  vertical-align: middle;
  line-height: 10vh;
}

button {
  height: 6vh;
  background-color: #172A3A;
  border-color: transparent;
  border-width: 0px;
  color: white;
  font-family: Muli;
  font-size: 16px;
  padding: 8px;
  flex: 1;
  margin: 2px 10px 4px 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: white;
  border-style: solid;
  border-color: #172A3A;
  border-width: 1px;
  color: #172A3A;
  font-weight: bold;
}

#player {
  display: flex;
}

#back {
  cursor: pointer;
  border-color: black;
  border-style: solid;
  max-width: 10vmin;
}

.header {
  font-size: calc(1vw + 3vh);
  width: 100%;
  background-color: #0097A7;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  position: fixed;
  top:0;
  z-index: 1;
  box-shadow: 0 8px 6px -6px #999
}

.container {
  display: flex;
  margin: 18px;
  flex-wrap: wrap;
  position: absolute;
  top:70px;
  z-index: 0;
}

.card {
  flex: 2;
  margin: 16px;
  display: flex;
  height: 256px;
  width: 200px;
  flex-direction: column;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.card-4 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.info {
  flex: 8;
  background-color: #64B5F6;
  font-size: 68px;
  line-height: 170px;
  vertical-align: middle;
}

.description {
  flex: 2;
  padding: 16px;
  height: 86px;
  font-size: 18px;
}

.fa-times-thin:before {
  content: '\00d7';
}

@media (max-width: 800px){

  .lessons-page body{
    overflow-y: hidden;
    position: fixed;
  }

  #video-fr{
    height:265px;
    margin:3px;
  }

  #video-title{
    font-size:5.0vmin;
  }

  #container{
    display: block;
  }

  #navigator{
    width:100%;
    flex:none;
    z-index:2;
    display: none;
    position:absolute;
    top:0;
    height: 100%;
    background-color: white;
  }

  #video-content{
    flex:none;
    z-index:0;
    width:100%;
    position:absolute;
    top:0;
    height: 100%;
  }

  #close{
    display: inline;
    cursor: pointer;
  }

  #content-list{
    font-size:calc(4vmin);
  }
  #items > li{
    max-width: 80vw;
  }

  #title{
    font-size:4.8vmin;
  }
}
